:root { 
    /* --primario: #fcdcc7; */
    --primario: #7BC1EB;
    /* --azul: #002F65; */
    /* --verde: #4a5759; */
    --blanco: #FFF;
    --negro: #000;
    --azul: #002F64;
    --verde: #1ABC9C;

    --fuentePrincipal: "poppins";
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background: linear-gradient(135deg, #a9e4f7 0%,#0fb4e7 100%);
    font-size: 1.6rem;
    line-height: 1.5;  /* es la base de la fuente */
}

p {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    color: var(--verde);
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;  /* 1200px */
    margin: 0 auto;   /* para centrarlo */
    width: 95%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--azul);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 7rem;

}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.header {
    display: flex;
    justify-content: center;
    background-image: url(../img/disneyBack2.webp);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    height:37rem;
    transition: 0.5s ease-in-out;
    object-fit: cover;
} 
.header:hover {
    transform: scale(1.04);
}
.header__logo {
    height: 15rem;
    width: 28rem;
    margin:3rem 0;
}

/* footer */
.footer {
    background-color: var(--verde);
    padding: 1rem 0;
    margin-top: 15rem;
}

.footer__text {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: .3rem;
    color:var(--blanco)
    

}
.nav {
    /* width: 100%; */
    background-color: var(--verde);
    padding:1rem 0;
    display:flex;
    justify-content: center;
    gap: 15rem; /*forma nueva de separar*/
}

.nav__link {
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    color: var(--blanco);
    font-size: 2rem;
}

.nav__link--active, 
.nav__link:hover{
    transition: 300ms;
}

.nav__link--active{
    color:var(--azul)
}

.nav__link:hover {
    transform: scale(1.5);
    /* filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.02)); */
}
/* Grid */
.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* margin:1.5rem; */
    /* line-height: 1.03; */
}

@media (min-width: 768px){
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Productos */

.product {
    margin: 1rem;
    padding:1rem;
}

.product__img{
    border-radius:1%;
    transition: 0.5s ease-in-out;
}

.product__img:hover {
    transform: scale(1.1);
}

.product__name {
    font-size: 2rem;
    color: var(--azul);
}

.product__price {
    font-size: 2.5rem;
    color: var(--azul);
    
}

.product__name,
.product__price {
    font-family: var(--fuentePrincipal);
    margin: 3rem 0;
    text-align: center;
    line-height: 2rem;  
}

/* Gráficos */

.graphic {
    min-height: 30rem; /*300px*/
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
    background-size: 130%;
    animation: movement 10s infinite linear alternate;
    box-shadow: 10px 10px 10px 0px rgba(41,45,46,0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(41,45,46,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(41,45,46,0.75);
}

@keyframes movement {
    from{
        background-position: botton left;
    }to{
        background-position: top right;
    }
}


.graphic--boyWithToys {
    grid-row: 2/3;
    background-image: url(../img/boyy.jpg);
    border-radius: 1rem;
    background-position: center center;
}

.graphic--girlAndBoy {
    background-image: url(../img/boyWithToys.jpg);
    grid-row: 8/9;
    border-radius: 1rem;
    width:auto;
    background-position: center center;
}

@media (min-width: 768px){
    .graphic--girlAndBoy {
        grid-row: 5/6;
        grid-column: 3/5;
    }
}


/* About Us */
.aboutUs {
    display:grid;
    grid-template-rows:repeat(2, auto);
}

.pGrid {
    text-align: center;
    margin-top: 0;
    color: var(--azul);
}

@media (min-width:768px){
    .aboutUs{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;  
    }
    
}

.aboutUs__img {
    grid-row: 1 / 2;
    margin-left: 2rem;
    width: 90%;
    border-radius: 1%;
    transition: 0.5s ease-in-out;
}

.aboutUs__img:hover {
    transform:scale(1.1);
    border-radius: 1%;
}
@media (min-width:768px){
    .aboutUs__img{
        grid-column: 2 / 3;
    }
}

@media (max-width:1080px){
    .aboutUs__img{
        grid-row: 1/2;
    }
}

/* Bloques */

.blocks {
    display: grid;
     gap: 2rem;
}

.block {
    text-align: center;
}

.buy__title {
    letter-spacing: .1rem;
    margin-top: 20rem;
}

@media (min-width:768px){
    .blocks {
        grid-template-columns: repeat(3, 1fr);
}
/* .block {
    text-align: center;
} */

.iconClass{
    width: 14rem;
    height: 12rem;

}
.block__title {
    /* margin:0; */
    letter-spacing: .3rem;
    margin-top: 0;
    margin-bottom: 0;
}
}

/* Página del Producto */
p{
    color: var(--azul);
}

 .nemo{
    margin-top: 9rem;
    margin-left: 6rem;
    margin-right:6rem;
 }
@media (min-width: 768px){
    .nemo {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}

.form {
    display:grid;
    grid-template-columns: 45% 45% ;
    gap: 2rem;
    margin-left: 3rem;
}

.form__field {
    border: .1rem solid var(--verde);
    border-radius: 1rem;
    background-color: transparent;
    color: var(--verde);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    /* grid-template-columns: 1/2; */
    padding: 1rem;
    /* appearance: none; */
}
.form__field:hover{
    background-color: var(--verde);
    color:var(--blanco);
}

.form__submit {
    background-color: var(--botonPrimario);
    border:none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
    border-radius: 1rem;
}

.form__submit:hover{
    cursor: pointer;
    background-color: var(--verde);
    color:var(--blanco);
}
